@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
    background-color: #d5e1ef;
    padding: 8rem 1rem ;
    font-family:'Poppins', sans-serif;
    height: 50vh;
}
main{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border-radius: 10px;
}

img{
    width: 100%;
    align-self: center;
    margin-top: 1rem;
    border-radius: 10px;
}

h2{
    text-align: center;
}

p{
    text-align: center;
    color: grey;
}